*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.productpage-container{
  width: 100%;
  height: 100vh;
}

.productpage-foto{
  background-image: url('../../images/cuadrante4.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.productpage-contenido{
  width: 90%;
  height: 85vh;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  margin: 1.5rem auto;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);
}

.price{
  margin-top: 1.5rem;
}
.productpage-info{
  line-height: 1.2rem;
  margin-left: 1rem;
}

.productpage-info h2{
  margin-bottom: 2rem;
}

.sizes{
  display: flex;
}

.sizes div{
  margin: 1rem 1rem 1rem 0;
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sizes div:hover{
  color: white;
  background-color: black;
  cursor: pointer;
}

.description{
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.quantity{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.quantity p{
  margin: 1rem 1rem 1rem 0;
}

.quantity select{
  height: 2rem;
}

.cart{
  padding: 0.7rem 2rem;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
}

.cart:hover{
  transform: scale(1.05);
  color: white;
  background-color: black;
  cursor: pointer;
}
